@font-face {
    font-family: 'Oswald';
    src: url('/static/fonts/Oswald-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Jersey';
    src: url('/static/fonts/Jersey10-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SofiaSans';
    src: url('/static/fonts/SofiaSansCondensed-VariableFont_wght.ttf') format('truetype');
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    h3 {
        color: white;
        align-self: center;
        font-size: 25px;
        margin: 0px;
        font-family: 'Oswald';
        font-size: 32px;
    }
    .identic {
        h3 {
            font-size: 32px;
            font-family: 'Jersey';
            font-weight: normal;
        }
    }
    width: 100%;
}
.starter {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    h1 {
        color: white;
        margin-top: 0px;
        align-self: start;
        justify-self: end;
        margin-right: 30px;
        margin-top: 40px;
        font-size: 10vh;
    }
    margin-bottom: 15px;
}
.starter::before {
    content: "";
    background-image: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
nav {
    button {
        border: none;
        background-color: black;
        color: white;
    }
    button:hover {
        border-bottom: 1px solid white;
        cursor: pointer;
    }
    align-content: center;
    padding-right: 20px;
}
.identic {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.logo {
    max-width: 80px;
    max-height: 80px;
    justify-self: start;
}
.navstart {
    border: none;
    background-color: black;
    max-width: 40px;
    max-height: 40px;
    align-self: center;
}
.navstart:hover {
    cursor: pointer;
}
.nav {
    position: absolute;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #101010;
    z-index: 100;
    min-width: 38%;
    height: calc(100% - 79px);
    a {
        color: white;
        text-decoration: none;
        font-size: 32px;
        font-weight: bold;
        margin-left: 15px;
    }
    .navrow {
        svg {
            margin-left: 20px;
        }
        display: flex;
        align-items: center;
        height: 100%;
    }
    .navrow:hover {
        cursor: pointer;
        background-color: #303030;
    }
}
.hidden {
    display: none;
}
body {
    font-family: sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    max-width: 1200px;
    width: 90%;
}

.section {
    border: 1px solid #ddd;
    padding: 0px;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column; /* Расположение элементов вертикально */
    align-items: center;
}

.section h2 {
    margin-top: 0;
    color: #555;
}

.section ul {
    list-style-type: disc;
    margin-left: 20px;
}

.section p {
    margin-bottom: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
    img {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }
}

.text-content {
    width: 100%;
}

#footer {
    background-color: #333;
    color: #fff; 
    text-align: center;
    padding: 20px;
    position: relative;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    bottom: 0;
    overflow-y: scroll;
}

#footer p {
    margin: 0;
    font-size: 14px;
}

main {
    font-family: 'SofiaSans';
}

.text-padding {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
.button-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .rbutton {
        justify-self: end;
    }
    .lbutton {
        justify-self: start;
    }
    width: 100%;
}
.rs {
    display: flex;
    justify-content: end;
}
.le {
    display: flex;
    justify-content: start;
}
.sliderb {
    border-radius: 15%;
    height: 45px;
    width: 55px;
    svg {
        align-self: center;
        justify-self: center;
    }
    background-color: #f1f1f1;
}
.sliderb:hover {
    cursor: pointer;
    background-color: #f9f9f9;
}