{% load static %}
<div class="middle-section">
    <h3>Уровень зарплат по городам</h3>
    <img alt="График динамики уровня зарплат по городам">
    <table>
        <tr>
            <th>Колонка 1</th>
            <th>Колонка 2</th>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
    </table>
<div class="middle-section">
    <h3>Доля вакансий по городам</h3>
    <img alt="График динамики доли вакансий по городам">
    <table>
        <tr>
            <th>Колонка 1</th>
            <th>Колонка 2</th>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
    </table>
</div>