<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бэкенд-разработчик</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="identic">
            <img class="logo" src="{% static 'images/logo.png' %}" alt="Логотип">
            <h3>Route Rise</h3>
            <button class="navstart"><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="5.68182" height="25" rx="2.84091" fill="black"/>
                <rect x="19.3182" width="5.68182" height="25" rx="2.84091" fill="black"/>
                <rect x="9.65909" width="5.68182" height="25" rx="2.84091" fill="black"/>
                </svg>                
                </button>
        </div>
        
        <nav>
            <a href="">Главная</a>
            <a href="#footer">О нас</a>
        </nav>
    </header>
    <main>
        <div class="nav hidden">
            <a href="">Главная</a>
            <a href="statistics">Общая статистика</a>
            <a href="usability">Востребованность</a>
            <a href="cities">География</a>
            <a href="skills">Навыки</a>
            <a href="last_vacs">Последние вакансии</a>
        </div>
        <div class="wrapper">
            <div class="container">
                <div class="section">
                    <div class="image-container"><img src="{% static 'images/server.png' %}" alt="Сервер"></div>
                    <h2>Кто такой бэкенд-разработчик?</h2>
                    <p>Бэкенд-разработчик – это специалист, работающий "за кулисами" веб-приложений. В отличие от фронтенд-разработчиков, создающих пользовательский интерфейс, бэкенд-разработчики обеспечивают работу серверной части. Они отвечают за обработку данных, логику приложения, взаимодействие с базами данных и другими сервисами.</p>
                </div>
          
                <div class="section">
                    <div class="image-container"><img src="{% static 'images/dataflow.png' %}" alt="Поток данных"></div>
                    <h2>Основные задачи:</h2>
                    <li>Серверное программирование: Владение языками Python, Java, PHP, Node.js и др.</li>
                    <li>Работа с базами данных: Проектирование и управление SQL и NoSQL базами.</li>
                    <li>Создание API: Разработка интерфейсов для взаимодействия приложений.</li>
                    <li>Безопасность: Защита данных от несанкционированного доступа.</li>
                    <li>Оптимизация: Улучшение скорости и стабильности работы приложения.</li>
                </div>
          
                <div class="section">
                    <div class="image-container"><img src="{% static 'images/database.png' %}" alt="База данных"></div>
                    <h2>Навыки:</h2>
                    <li>Глубокие знания языков программирования.</li>
                    <li>Понимание баз данных и SQL/NoSQL.</li>
                    <li>Опыт работы с API.</li>
                    <li>Знание веб-серверов и облачных сервисов (AWS, Azure).</li>
                    <li>Умение отлаживать и тестировать код.</li>
                    <li>Аналитическое мышление и внимание к деталям.</li>
                </div>
          
                <div class="section">
                    <div class="image-container"><img src="{% static 'images/code.png' %}" alt="Код"></div>
                    <h2>Отличие от фронтенд-разработчика:</h2>
                    <p>Фронтенд отвечает за "видимую" часть (дизайн, интерфейс), бэкенд – за "невидимую" (логику, данные).</p>
                </div>
          
                <div class="section">
                    <div class="image-container"><img src="{% static 'images/gears.png' %}" alt="Шестеренки"></div>
                    <h2>Значение бэкенд-разработки:</h2>
                    <p>Без бэкенда не было бы современных веб-приложений, соцсетей, магазинов. Бэкенд обеспечивает бесперебойную работу и безопасность всех этих сервисов.</p>
                </div>
          
                <div class="section">
                    <div class="image-container"><img src="{% static 'images/backender.png' %}" alt="Безопасность"></div>
                    <p>Бэкенд-разработка – важная и востребованная область, требующая постоянного обучения и развития. Это выбор для тех, кто любит решать сложные задачи и создавать надежный фундамент для цифрового мира.</p>
                </div>
            </div>
        </div>
    </main>

    <footer id="footer">
        <p>&copy; 2024 Ольков Семён Дмитриевич. РИ-230931.</p>
    </footer>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>