<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Навыки</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="identic">
            <img class="logo" src="{% static 'images/logo.png' %}" alt="Логотип">
            <h3>Route Rise</h3>
            <button class="navstart"><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="5.68182" height="25" rx="2.84091" fill="black"/>
                <rect x="19.3182" width="5.68182" height="25" rx="2.84091" fill="black"/>
                <rect x="9.65909" width="5.68182" height="25" rx="2.84091" fill="black"/>
                </svg>                
                </button>
        </div>
        
        <nav>
            <a href="">Главная</a>
            <a href="#footer">О нас</a>
        </nav>
    </header>
    <main>
        <div class="nav hidden">
            <a href="">Главная</a>
            <a href="statistics.html">Общая статистика</a>
            <a href="usability.html">Востребованность</a>
            <a href="cities.html">География</a>
            <a href="skills.html">Навыки</a>
            <a href="last_vacs.html">Последние вакансии</a>
        </div>
        <div class="wrapper">
            <div class="container">
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
            </div>
        </div>
    </main>

    <footer id="footer">
        <p>&copy; 2024 Ольков Семён Дмитриевич. РИ-230931.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>