{% extends 'base.html' %}
{% load static %}
{% block title %}
    Общая статистика
{% endblock %}

{% block main %}
    <main>
        <div class="wrapper">
            <div class="container">
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
                <div class="section"><p>АМОГУС</p></div>
            </div>
        </div>
    </main>
{% endblock %}