{% load static %}
<div class="middle-section">
    <h3>Динамика уровня зарплат по годам</h3>
    <img alt="График динамики уровня зарплат по годам">
    <table>
        <tr>
            <th>Колонка 1</th>
            <th>Колонка 2</th>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
    </table>
</div>
<div class="middle-section">
    <h3>Динамика количества вакансий по годам</h3>
    <img alt="График динамики количества вакансий по годам">
    <table>
        <tr>
            <th>Колонка 1</th>
            <th>Колонка 2</th>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
        <tr>
            <td>Информация 1</td>
            <td>Информация 2</td>
        </tr>
    </table>
</div>