{% load static %}
<div class="middle-section">
    <h3>Уровень зарплат по городам</h3>
    <<img src="{% static 'images/Figure_1.png' %}" alt="График динамики уровня зарплат по городам 1">
    <img src="{% static 'images/Figure_2.png' %}" alt="График динамики уровня зарплат по городам 2">
    <img src="{% static 'images/Figure_3.png' %}" alt="График динамики уровня зарплат по городам 3">
    <img src="{% static 'images/Figure_4.png' %}" alt="График динамики уровня зарплат по городам 4">
    <img src="{% static 'images/Figure_5.png' %}" alt="График динамики уровня зарплат по городам 5">
    <img src="{% static 'images/Figure_6.png' %}" alt="График динамики уровня зарплат по городам 6">
    <img src="{% static 'images/Figure_7.png' %}" alt="График динамики уровня зарплат по городам 7">
    <img src="{% static 'images/Figure_8.png' %}" alt="График динамики уровня зарплат по городам 8">
    <img src="{% static 'images/Figure_9.png' %}" alt="График динамики уровня зарплат по городам 9">
    <img src="{% static 'images/Figure_10.png' %}" alt="График динамики уровня зарплат по городам 10">
    <img src="{% static 'images/Figure_11.png' %}" alt="График динамики уровня зарплат по городам 11">
    <img src="{% static 'images/Figure_12.png' %}" alt="График динамики уровня зарплат по городам 12">
    <img src="{% static 'images/Figure_13.png' %}" alt="График динамики уровня зарплат по городам 13">
    <img src="{% static 'images/Figure_14.png' %}" alt="График динамики уровня зарплат по городам 14">
    <img src="{% static 'images/Figure_15.png' %}" alt="График динамики уровня зарплат по городам 15">
    <img src="{% static 'images/Figure_16.png' %}" alt="График динамики уровня зарплат по городам 16">
    <img src="{% static 'images/Figure_17.png' %}" alt="График динамики уровня зарплат по городам 17">
    <img src="{% static 'images/Figure_18.png' %}" alt="График динамики уровня зарплат по городам 18">
    <img src="{% static 'images/Figure_19.png' %}" alt="График динамики уровня зарплат по городам 19">
    <img src="{% static 'images/Figure_20.png' %}" alt="График динамики уровня зарплат по городам 20">
    <table>
        <tr>
            <th>№</th>
            <th>Город</th>
            <th>Средняя зарплата</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Япония</td>
            <td>350343.0</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Черногория</td>
            <td>299073.0</td>
        </tr>
        <tr>
            <td>3</td>
            <td>США</td>
            <td>264822.0</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Сербия</td>
            <td>251002.0</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Кипр</td>
            <td>213711.0</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Эстония</td>
            <td>208025.0</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Мурино</td>
            <td>200000.0</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Турция</td>
            <td>200000.0</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Актобе</td>
            <td>190000.0</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Германия</td>
            <td>187500.0</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Зеленоград</td>
            <td>185000.0</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Обнинск</td>
            <td>181000.0</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Израиль</td>
            <td>175000.0</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Армения</td>
            <td>172529.0</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Уральск</td>
            <td>170000.0</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Вьетнам</td>
            <td>168603.0</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Индонезия</td>
            <td>168603.0</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Батуми</td>
            <td>165896.0</td>
        </tr>
        <tr>
            <td>19</td>
            <td>Тбилиси</td>
            <td>163454.0</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Канада</td>
            <td>155734.0</td>
        </tr>
        <tr>
            <td>21</td>
            <td>Москва</td>
            <td>154500.0</td>
        </tr>
        <tr>
            <td>22</td>
            <td>Брест</td>
            <td>148514.0</td>
        </tr>
        <tr>
            <td>23</td>
            <td>Караганда</td>
            <td>148418.0</td>
        </tr>
        <tr>
            <td>24</td>
            <td>Одесса</td>
            <td>140325.0</td>
        </tr>
        <tr>
            <td>25</td>
            <td>Севастополь</td>
            <td>139655.0</td>
        </tr>
        <tr>
            <td>26</td>
            <td>Мурманск</td>
            <td>139326.0</td>
        </tr>
        <tr>
            <td>27</td>
            <td>Казань</td>
            <td>137227.0</td>
        </tr>
        <tr>
            <td>28</td>
            <td>Старый Оскол</td>
            <td>135000.0</td>
        </tr>
        <tr>
            <td>29</td>
            <td>Доминиканская Республика</td>
            <td>130566.0</td>
        </tr>
        <tr>
            <td>30</td>
            <td>Кемерово</td>
            <td>130179.0</td>
        </tr>
        <tr>
            <td>31</td>
            <td>Ивантеевка</td>
            <td>130000.0</td>
        </tr>
        <tr>
            <td>32</td>
            <td>Щелково</td>
            <td>130000.0</td>
        </tr>
        <tr>
            <td>33</td>
            <td>Астрахань</td>
            <td>129250.0</td>
        </tr>
        <tr>
            <td>34</td>
            <td>Санкт-Петербург</td>
            <td>128200.0</td>
        </tr>
        <tr>
            <td>35</td>
            <td>Королев</td>
            <td>126667.0</td>
        </tr>
        <tr>
            <td>36</td>
            <td>Балашиха</td>
            <td>125000.0</td>
        </tr>
        <tr>
            <td>37</td>
            <td>Таиланд</td>
            <td>121850.0</td>
        </tr>
        <tr>
            <td>38</td>
            <td>Калининград</td>
            <td>120143.0</td>
        </tr>
        <tr>
            <td>39</td>
            <td>Усть-Кут</td>
            <td>120000.0</td>
        </tr>
        <tr>
            <td>40</td>
            <td>Киев</td>
            <td>118546.0</td>
        </tr>
        <tr>
            <td>41</td>
            <td>Астана</td>
            <td>117829.0</td>
        </tr>
        <tr>
            <td>42</td>
            <td>Краснодар</td>
            <td>117195.0</td>
        </tr>
        <tr>
            <td>43</td>
            <td>Новосибирск</td>
            <td>116778.0</td>
        </tr>
        <tr>
            <td>44</td>
            <td>Владивосток</td>
            <td>116269.0</td>
        </tr>
        <tr>
            <td>45</td>
            <td>Иннополис</td>
            <td>116080.0</td>
        </tr>
        <tr>
            <td>46</td>
            <td>Петропавловск</td>
            <td>114586.0</td>
        </tr>
        <tr>
            <td>47</td>
            <td>Сочи</td>
            <td>113135.0</td>
        </tr>
        <tr>
            <td>48</td>
            <td>Красноярск</td>
            <td>112409.0</td>
        </tr>
        <tr>
            <td>49</td>
            <td>Нижний Новгород</td>
            <td>111985.0</td>
        </tr>
        <tr>
            <td>50</td>
            <td>Минск</td>
            <td>111657.0</td>
        </tr>
        <tr>
            <td>51</td>
            <td>Екатеринбург</td>
            <td>108877.0</td>
        </tr>
        <tr>
            <td>52</td>
            <td>Калуга</td>
            <td>108053.0</td>
        </tr>
        <tr>
            <td>53</td>
            <td>Ярославль</td>
            <td>107050.0</td>
        </tr>
        <tr>
            <td>54</td>
            <td>Тюмень</td>
            <td>106798.0</td>
        </tr>
        <tr>
            <td>55</td>
            <td>Химки</td>
            <td>105000.0</td>
        </tr>
        <tr>
            <td>56</td>
            <td>Бишкек</td>
            <td>104943.0</td>
        </tr>
        <tr>
            <td>57</td>
            <td>Оренбург</td>
            <td>103816.0</td>
        </tr>
        <tr>
            <td>58</td>
            <td>Томск</td>
            <td>103755.0</td>
        </tr>
        <tr>
            <td>59</td>
            <td>Псков</td>
            <td>102212.0</td>
        </tr>
        <tr>
            <td>60</td>
            <td>Иваново (Ивановская область)</td>
            <td>101818.0</td>
        </tr>
        <tr>
            <td>61</td>
            <td>Донецк (Украина)</td>
            <td>101650.0</td>
        </tr>
        <tr>
            <td>62</td>
            <td>Саратов</td>
            <td>101365.0</td>
        </tr>
        <tr>
            <td>63</td>
            <td>Могилев</td>
            <td>100257.0</td>
        </tr>
        <tr>
            <td>64</td>
            <td>Ангарск</td>
            <td>100000.0</td>
        </tr>
        <tr>
            <td>65</td>
            <td>Биробиджан</td>
            <td>100000.0</td>
        </tr>
        <tr>
            <td>66</td>
            <td>Братск</td>
            <td>100000.0</td>
        </tr>
        <tr>
            <td>67</td>
            <td>Переславль-Залесский</td>
            <td>100000.0</td>
        </tr>
        <tr>
            <td>68</td>
            <td>Сосновый Бор (Ленинградская область)</td>
            <td>100000.0</td>
        </tr>
        <tr>
            <td>69</td>
            <td>Владимир</td>
            <td>97086.0</td>
        </tr>
        <tr>
            <td>70</td>
            <td>Тольятти</td>
            <td>96894.0</td>
        </tr>
        <tr>
            <td>71</td>
            <td>Харьков</td>
            <td>96613.0</td>
        </tr>
        <tr>
            <td>72</td>
            <td>Хабаровск</td>
            <td>95529.0</td>
        </tr>
        <tr>
            <td>73</td>
            <td>Самара</td>
            <td>95200.0</td>
        </tr>
        <tr>
            <td>74</td>
            <td>Симферополь</td>
            <td>94862.0</td>
        </tr>
        <tr>
            <td>75</td>
            <td>Гродно</td>
            <td>94317.0</td>
        </tr>
        <tr>
            <td>76</td>
            <td>Винница</td>
            <td>93525.0</td>
        </tr>
        <tr>
            <td>77</td>
            <td>Челябинск</td>
            <td>92834.0</td>
        </tr>
        <tr>
            <td>78</td>
            <td>Тула</td>
            <td>91859.0</td>
        </tr>
        <tr>
            <td>79</td>
            <td>Уфа</td>
            <td>91038.0</td>
        </tr>
        <tr>
            <td>80</td>
            <td>Ростов-на-Дону</td>
            <td>90763.0</td>
        </tr>
        <tr>
            <td>81</td>
            <td>Ижевск</td>
            <td>90692.0</td>
        </tr>
        <tr>
            <td>82</td>
            <td>Кременчуг</td>
            <td>90356.0</td>
        </tr>
        <tr>
            <td>83</td>
            <td>Ташкент</td>
            <td>90334.0</td>
        </tr>
        <tr>
            <td>84</td>
            <td>Пермь</td>
            <td>90095.0</td>
        </tr>
        <tr>
            <td>85</td>
            <td>Петрозаводск</td>
            <td>90000.0</td>
        </tr>
        <tr>
            <td>86</td>
            <td>Воронеж</td>
            <td>89549.0</td>
        </tr>
        <tr>
            <td>87</td>
            <td>Гомель</td>
            <td>89103.0</td>
        </tr>
        <tr>
            <td>88</td>
            <td>Барнаул</td>
            <td>88850.0</td>
        </tr>
        <tr>
            <td>89</td>
            <td>Пенза</td>
            <td>87223.0</td>
        </tr>
        <tr>
            <td>90</td>
            <td>Ульяновск</td>
            <td>86732.0</td>
        </tr>
        <tr>
            <td>91</td>
            <td>Усть-Каменогорск</td>
            <td>85912.0</td>
        </tr>
        <tr>
            <td>92</td>
            <td>Дубна</td>
            <td>85000.0</td>
        </tr>
        <tr>
            <td>93</td>
            <td>Волгоград</td>
            <td>84697.0</td>
        </tr>
        <tr>
            <td>94</td>
            <td>Омск</td>
            <td>84343.0</td>
        </tr>
        <tr>
            <td>95</td>
            <td>Липецк</td>
            <td>83333.0</td>
        </tr>
        <tr>
            <td>96</td>
            <td>Алматы</td>
            <td>82832.0</td>
        </tr>
        <tr>
            <td>97</td>
            <td>Тверь</td>
            <td>82614.0</td>
        </tr>
        <tr>
            <td>98</td>
            <td>Таганрог</td>
            <td>81875.0</td>
        </tr>
        <tr>
            <td>99</td>
            <td>Рязань</td>
            <td>81870.0</td>
        </tr>
        <tr>
            <td>100</td>
            <td>Киров (Кировская область)</td>
            <td>81773.0</td>
        </tr>
        <tr>
            <td>101</td>
            <td>Белгород</td>
            <td>81550.0</td>
        </tr>
        <tr>
            <td>102</td>
            <td>Баку</td>
            <td>80750.0</td>
        </tr>
        <tr>
            <td>103</td>
            <td>Иркутск</td>
            <td>80179.0</td>
        </tr>
        <tr>
            <td>104</td>
            <td>Йошкар-Ола</td>
            <td>80136.0</td>
        </tr>
        <tr>
            <td>105</td>
            <td>Климовск (Московская область)</td>
            <td>80000.0</td>
        </tr>
        <tr>
            <td>106</td>
            <td>Таджикистан</td>
            <td>80000.0</td>
        </tr>
        <tr>
            <td>107</td>
            <td>Кострома</td>
            <td>79500.0</td>
        </tr>
        <tr>
            <td>108</td>
            <td>Мытищи</td>
            <td>78333.0</td>
        </tr>
        <tr>
            <td>109</td>
            <td>Чебоксары</td>
            <td>77654.0</td>
        </tr>
        <tr>
            <td>110</td>
            <td>Комсомольск-на-Амуре</td>
            <td>77500.0</td>
        </tr>
        <tr>
            <td>111</td>
            <td>Великий Новгород</td>
            <td>76786.0</td>
        </tr>
        <tr>
            <td>112</td>
            <td>Витебск</td>
            <td>76781.0</td>
        </tr>
        <tr>
            <td>113</td>
            <td>Нур-Султан</td>
            <td>76338.0</td>
        </tr>
        <tr>
            <td>114</td>
            <td>Котлас</td>
            <td>75000.0</td>
        </tr>
        <tr>
            <td>115</td>
            <td>Новодвинск</td>
            <td>75000.0</td>
        </tr>
        <tr>
            <td>116</td>
            <td>Новокуйбышевск</td>
            <td>75000.0</td>
        </tr>
        <tr>
            <td>117</td>
            <td>Магнитогорск</td>
            <td>70455.0</td>
        </tr>
        <tr>
            <td>118</td>
            <td>Орел</td>
            <td>69844.0</td>
        </tr>
        <tr>
            <td>119</td>
            <td>Новокузнецк</td>
            <td>69821.0</td>
        </tr>
        <tr>
            <td>120</td>
            <td>Улан-Удэ</td>
            <td>69375.0</td>
        </tr>
        <tr>
            <td>121</td>
            <td>Набережные Челны</td>
            <td>67833.0</td>
        </tr>
        <tr>
            <td>122</td>
            <td>Брянск</td>
            <td>67679.0</td>
        </tr>
        <tr>
            <td>123</td>
            <td>Днепр (Днепропетровск)</td>
            <td>67118.0</td>
        </tr>
        <tr>
            <td>124</td>
            <td>Новороссийск</td>
            <td>64643.0</td>
        </tr>
        <tr>
            <td>125</td>
            <td>Тамбов</td>
            <td>60000.0</td>
        </tr>
        <tr>
            <td>126</td>
            <td>Шымкент</td>
            <td>58593.0</td>
        </tr>
        <tr>
            <td>127</td>
            <td>Курган</td>
            <td>57857.0</td>
        </tr>
        <tr>
            <td>128</td>
            <td>Львов</td>
            <td>57780.0</td>
        </tr>
        <tr>
            <td>129</td>
            <td>Северодвинск</td>
            <td>57500.0</td>
        </tr>
        <tr>
            <td>130</td>
            <td>Южно-Сахалинск</td>
            <td>57500.0</td>
        </tr>
        <tr>
            <td>131</td>
            <td>Благовещенск (Амурская область)</td>
            <td>57143.0</td>
        </tr>
        <tr>
            <td>132</td>
            <td>Вологда</td>
            <td>57143.0</td>
        </tr>
        <tr>
            <td>133</td>
            <td>Самарская область</td>
            <td>55004.0</td>
        </tr>
        <tr>
            <td>134</td>
            <td>Россия</td>
            <td>55000.0</td>
        </tr>
        <tr>
            <td>135</td>
            <td>Архангельск</td>
            <td>53846.0</td>
        </tr>
        <tr>
            <td>136</td>
            <td>Череповец</td>
            <td>52883.0</td>
        </tr>
        <tr>
            <td>137</td>
            <td>Курск</td>
            <td>52344.0</td>
        </tr>
        <tr>
            <td>138</td>
            <td>Чита</td>
            <td>52000.0</td>
        </tr>
        <tr>
            <td>139</td>
            <td>Бийск</td>
            <td>50000.0</td>
        </tr>
        <tr>
            <td>140</td>
            <td>Ставрополь</td>
            <td>48571.0</td>
        </tr>
        <tr>
            <td>141</td>
            <td>Павлодар</td>
            <td>48302.0</td>
        </tr>
        <tr>
            <td>142</td>
            <td>Владикавказ</td>
            <td>47500.0</td>
        </tr>
        <tr>
            <td>143</td>
            <td>Подольск (Московская область)</td>
            <td>47500.0</td>
        </tr>
        <tr>
            <td>144</td>
            <td>Фергана</td>
            <td>47162.0</td>
        </tr>
        <tr>
            <td>145</td>
            <td>Краснослободск (Республика Мордовия)</td>
            <td>44000.0</td>
        </tr>
        <tr>
            <td>146</td>
            <td>Одинцово</td>
            <td>40000.0</td>
        </tr>
        <tr>
            <td>147</td>
            <td>Сыктывкар</td>
            <td>39375.0</td>
        </tr>
        <tr>
            <td>148</td>
            <td>Саранск</td>
            <td>35556.0</td>
        </tr>
        <tr>
            <td>149</td>
            <td>Болохово</td>
            <td>35000.0</td>
        </tr>
        <tr>
            <td>150</td>
            <td>Киреевск</td>
            <td>35000.0</td>
        </tr>
        <tr>
            <td>151</td>
            <td>Советск (Тульская область)</td>
            <td>35000.0</td>
        </tr>
        <tr>
            <td>152</td>
            <td>Щекино</td>
            <td>35000.0</td>
        </tr>
        <tr>
            <td>153</td>
            <td>Ясногорск</td>
            <td>35000.0</td>
        </tr>
        <tr>
            <td>154</td>
            <td>Альметьевск</td>
            <td>33500.0</td>
        </tr>
        <tr>
            <td>155</td>
            <td>Кировск (Ленинградская область)</td>
            <td>33500.0</td>
        </tr>
        <tr>
            <td>156</td>
            <td>Экибастуз</td>
            <td>32810.0</td>
        </tr>
        <tr>
            <td>157</td>
            <td>Первоуральск</td>
            <td>32500.0</td>
        </tr>
        <tr>
            <td>158</td>
            <td>Новочеркасск</td>
            <td>31000.0</td>
        </tr>
        <tr>
            <td>159</td>
            <td>Нижнекамск</td>
            <td>24250.0</td>
        </tr>
        <tr>
            <td>160</td>
            <td>Воронежская область</td>
            <td>22500.0</td>
        </tr>
        <tr>
            <td>161</td>
            <td>Пятигорск</td>
            <td>22500.0</td>
        </tr>
        <tr>
            <td>162</td>
            <td>Первомайское (Республика Хакасия)</td>
            <td>20000.0</td>
        </tr>
        <tr>
            <td>163</td>
            <td>Луганск</td>
            <td>17236.0</td>
        </tr>
        <tr>
            <td>164</td>
            <td>Абакан</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>165</td>
            <td>Арзамас</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>166</td>
            <td>Армавир</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>167</td>
            <td>Артем</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>168</td>
            <td>Волжский (Волгоградская область)</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>169</td>
            <td>Грозный</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>170</td>
            <td>Долгопрудный</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>171</td>
            <td>Ессентуки</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>172</td>
            <td>Жуковский</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>173</td>
            <td>Керчь</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>174</td>
            <td>Ковров</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>175</td>
            <td>Люберцы</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>176</td>
            <td>Махачкала</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>177</td>
            <td>Назрань</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>178</td>
            <td>Нальчик</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>179</td>
            <td>Находка</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>180</td>
            <td>Нефтеюганск</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>181</td>
            <td>Нижний Тагил</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>182</td>
            <td>Новочебоксарск</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>183</td>
            <td>Петропавловск-Камчатский</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>184</td>
            <td>Пушкино (Московская область)</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>185</td>
            <td>Рыбинск</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>186</td>
            <td>Салават</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>187</td>
            <td>Северск (Томская область)</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>188</td>
            <td>Серпухов</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>189</td>
            <td>Смоленск</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>190</td>
            <td>Сургут</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>191</td>
            <td>Уссурийск</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>192</td>
            <td>Черкесск</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>193</td>
            <td>Якутск</td>
            <td>15000.0</td>
        </tr>
        <tr>
            <td>194</td>
            <td>Лисичанск</td>
            <td>9154.0</td>
        </tr>
        
    </table>
<div class="middle-section">
    <h3>Доля вакансий по городам</h3>
    <img src="{% static 'images/Figure_21.png' %}" alt="График динамики доли вакансий по городам">
    <table>
        <tr>
            <th>№</th>
            <th>Город</th>
            <th>Доля вакансий</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Москва</td>
            <td>0.3758</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Санкт-Петербург</td>
            <td>0.1517</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Новосибирск</td>
            <td>0.0377</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Екатеринбург</td>
            <td>0.0313</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Алматы</td>
            <td>0.0271</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Казань</td>
            <td>0.0253</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Минск</td>
            <td>0.0246</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Нижний Новгород</td>
            <td>0.0246</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Ростов-на-Дону</td>
            <td>0.0127</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Пермь</td>
            <td>0.0126</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Краснодар</td>
            <td>0.0124</td>
        </tr>
        <tr>
            <td>12</td>
            <td>Челябинск</td>
            <td>0.0121</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Томск</td>
            <td>0.0109</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Ташкент</td>
            <td>0.01</td>
        </tr>
        <tr>
            <td>15</td>
            <td>Омск</td>
            <td>0.0096</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Киев</td>
            <td>0.0085</td>
        </tr>
        <tr>
            <td>17</td>
            <td>Самара</td>
            <td>0.0078</td>
        </tr>
        <tr>
            <td>18</td>
            <td>Волгоград</td>
            <td>0.0074</td>
        </tr>
        <tr>
            <td>19</td>
            <td>Уфа</td>
            <td>0.0069</td>
        </tr>
        <tr>
            <td>20</td>
            <td>Тюмень</td>
            <td>0.0068</td>
        </tr>
        <tr>
            <td>21</td>
            <td>Рязань</td>
            <td>0.0063</td>
        </tr>
        <tr>
            <td>22</td>
            <td>Воронеж</td>
            <td>0.006</td>
        </tr>
        <tr>
            <td>23</td>
            <td>Астана</td>
            <td>0.0057</td>
        </tr>
        <tr>
            <td>24</td>
            <td>Ижевск</td>
            <td>0.0055</td>
        </tr>
        <tr>
            <td>25</td>
            <td>Киров (Кировская область)</td>
            <td>0.0052</td>
        </tr>
        <tr>
            <td>26</td>
            <td>Красноярск</td>
            <td>0.005</td>
        </tr>
        <tr>
            <td>27</td>
            <td>Саратов</td>
            <td>0.0049</td>
        </tr>
        <tr>
            <td>28</td>
            <td>Ярославль</td>
            <td>0.0049</td>
        </tr>
        <tr>
            <td>29</td>
            <td>Калининград</td>
            <td>0.0043</td>
        </tr>
        <tr>
            <td>30</td>
            <td>Йошкар-Ола</td>
            <td>0.0042</td>
        </tr>
        <tr>
            <td>31</td>
            <td>Нур-Султан</td>
            <td>0.004</td>
        </tr>
        <tr>
            <td>32</td>
            <td>Тула</td>
            <td>0.004</td>
        </tr>
        <tr>
            <td>33</td>
            <td>Тольятти</td>
            <td>0.0038</td>
        </tr>
        <tr>
            <td>34</td>
            <td>Барнаул</td>
            <td>0.0037</td>
        </tr>
        <tr>
            <td>35</td>
            <td>Иннополис</td>
            <td>0.0037</td>
        </tr>
        <tr>
            <td>36</td>
            <td>Ульяновск</td>
            <td>0.0033</td>
        </tr>
        <tr>
            <td>37</td>
            <td>Севастополь</td>
            <td>0.0033</td>
        </tr>
        <tr>
            <td>38</td>
            <td>Курск</td>
            <td>0.0029</td>
        </tr>
        <tr>
            <td>39</td>
            <td>Тверь</td>
            <td>0.0027</td>
        </tr>
        <tr>
            <td>40</td>
            <td>Иркутск</td>
            <td>0.0027</td>
        </tr>
        <tr>
            <td>41</td>
            <td>Пенза</td>
            <td>0.0026</td>
        </tr>
        <tr>
            <td>42</td>
            <td>Владивосток</td>
            <td>0.0025</td>
        </tr>
        <tr>
            <td>43</td>
            <td>Чебоксары</td>
            <td>0.0025</td>
        </tr>
        <tr>
            <td>44</td>
            <td>Калуга</td>
            <td>0.0024</td>
        </tr>
        <tr>
            <td>45</td>
            <td>Иваново (Ивановская область)</td>
            <td>0.0023</td>
        </tr>
        <tr>
            <td>46</td>
            <td>Череповец</td>
            <td>0.0022</td>
        </tr>
        <tr>
            <td>47</td>
            <td>Кострома</td>
            <td>0.0022</td>
        </tr>
        <tr>
            <td>48</td>
            <td>Брянск</td>
            <td>0.0022</td>
        </tr>
        <tr>
            <td>49</td>
            <td>Бишкек</td>
            <td>0.0022</td>
        </tr>
        <tr>
            <td>50</td>
            <td>Сочи</td>
            <td>0.0021</td>
        </tr>
        <tr>
            <td>51</td>
            <td>Таганрог</td>
            <td>0.0019</td>
        </tr>
        <tr>
            <td>52</td>
            <td>Кемерово</td>
            <td>0.0019</td>
        </tr>
        <tr>
            <td>53</td>
            <td>Саранск</td>
            <td>0.0018</td>
        </tr>
        <tr>
            <td>54</td>
            <td>Курган</td>
            <td>0.0018</td>
        </tr>
        <tr>
            <td>55</td>
            <td>Симферополь</td>
            <td>0.0018</td>
        </tr>
        <tr>
            <td>56</td>
            <td>Сербия</td>
            <td>0.0017</td>
        </tr>
        <tr>
            <td>57</td>
            <td>Оренбург</td>
            <td>0.0017</td>
        </tr>
        <tr>
            <td>58</td>
            <td>Армения</td>
            <td>0.0016</td>
        </tr>
        <tr>
            <td>59</td>
            <td>Харьков</td>
            <td>0.0016</td>
        </tr>
        <tr>
            <td>60</td>
            <td>Орел</td>
            <td>0.0015</td>
        </tr>
        <tr>
            <td>61</td>
            <td>Владимир</td>
            <td>0.0015</td>
        </tr>
        <tr>
            <td>62</td>
            <td>Набережные Челны</td>
            <td>0.0015</td>
        </tr>
        <tr>
            <td>63</td>
            <td>Ставрополь</td>
            <td>0.0015</td>
        </tr>
        <tr>
            <td>64</td>
            <td>Хабаровск</td>
            <td>0.0015</td>
        </tr>
        <tr>
            <td>65</td>
            <td>Архангельск</td>
            <td>0.0014</td>
        </tr>
        <tr>
            <td>66</td>
            <td>Новокузнецк</td>
            <td>0.0014</td>
        </tr>
        <tr>
            <td>67</td>
            <td>Павлодар</td>
            <td>0.0012</td>
        </tr>
        <tr>
            <td>68</td>
            <td>Кипр</td>
            <td>0.0011</td>
        </tr>
        <tr>
            <td>69</td>
            <td>Зеленоград</td>
            <td>0.0011</td>
        </tr>
        <tr>
            <td>70</td>
            <td>Белгород</td>
            <td>0.0011</td>
        </tr>
        <tr>
            <td>71</td>
            <td>Тамбов</td>
            <td>0.0011</td>
        </tr>
        <tr>
            <td>72</td>
            <td>Гомель</td>
            <td>0.0011</td>
        </tr>
        <tr>
            <td>73</td>
            <td>Великий Новгород</td>
            <td>0.0011</td>
        </tr>
        <tr>
            <td>74</td>
            <td>Фергана</td>
            <td>0.001</td>
        </tr>
        <tr>
            <td>75</td>
            <td>Тбилиси</td>
            <td>0.0009</td>
        </tr>
        <tr>
            <td>76</td>
            <td>Магнитогорск</td>
            <td>0.0009</td>
        </tr>
        <tr>
            <td>77</td>
            <td>Одесса</td>
            <td>0.0009</td>
        </tr>
        <tr>
            <td>78</td>
            <td>Вологда</td>
            <td>0.0009</td>
        </tr>
        <tr>
            <td>79</td>
            <td>Мурманск</td>
            <td>0.0009</td>
        </tr>
        <tr>
            <td>80</td>
            <td>Витебск</td>
            <td>0.0009</td>
        </tr>
        <tr>
            <td>81</td>
            <td>Караганда</td>
            <td>0.0009</td>
        </tr>
        <tr>
            <td>82</td>
            <td>Львов</td>
            <td>0.0009</td>
        </tr>
        <tr>
            <td>83</td>
            <td>Королев</td>
            <td>0.0007</td>
        </tr>
        <tr>
            <td>84</td>
            <td>Липецк</td>
            <td>0.0007</td>
        </tr>
        <tr>
            <td>85</td>
            <td>Брест</td>
            <td>0.0007</td>
        </tr>
        <tr>
            <td>86</td>
            <td>Псков</td>
            <td>0.0006</td>
        </tr>
        <tr>
            <td>87</td>
            <td>Баку</td>
            <td>0.0006</td>
        </tr>
        <tr>
            <td>88</td>
            <td>Гродно</td>
            <td>0.0006</td>
        </tr>
        <tr>
            <td>89</td>
            <td>Шымкент</td>
            <td>0.0006</td>
        </tr>
        <tr>
            <td>90</td>
            <td>Астрахань</td>
            <td>0.0006</td>
        </tr>
        <tr>
            <td>91</td>
            <td>Новороссийск</td>
            <td>0.0006</td>
        </tr>
        <tr>
            <td>92</td>
            <td>Петрозаводск</td>
            <td>0.0006</td>
        </tr>
        <tr>
            <td>93</td>
            <td>Днепр (Днепропетровск)</td>
            <td>0.0006</td>
        </tr>
        <tr>
            <td>94</td>
            <td>Благовещенск (Амурская область)</td>
            <td>0.0006</td>
        </tr>
        <tr>
            <td>95</td>
            <td>Запорожье</td>
            <td>0.0006</td>
        </tr>
        <tr>
            <td>96</td>
            <td>Чита</td>
            <td>0.0005</td>
        </tr>
        <tr>
            <td>97</td>
            <td>Могилев</td>
            <td>0.0005</td>
        </tr>
        <tr>
            <td>98</td>
            <td>Новочеркасск</td>
            <td>0.0004</td>
        </tr>
        <tr>
            <td>99</td>
            <td>Улан-Удэ</td>
            <td>0.0004</td>
        </tr>
        <tr>
            <td>100</td>
            <td>Владикавказ</td>
            <td>0.0004</td>
        </tr>
        <tr>
            <td>101</td>
            <td>Балашиха</td>
            <td>0.0004</td>
        </tr>
        <tr>
            <td>102</td>
            <td>Обнинск</td>
            <td>0.0004</td>
        </tr>
        <tr>
            <td>103</td>
            <td>Старый Оскол</td>
            <td>0.0004</td>
        </tr>
        <tr>
            <td>104</td>
            <td>Сыктывкар</td>
            <td>0.0004</td>
        </tr>
        <tr>
            <td>105</td>
            <td>Дубна</td>
            <td>0.0004</td>
        </tr>
        <tr>
            <td>106</td>
            <td>Смоленск</td>
            <td>0.0003</td>
        </tr>
        <tr>
            <td>107</td>
            <td>Первоуральск</td>
            <td>0.0003</td>
        </tr>
        <tr>
            <td>108</td>
            <td>Алексеевка (Самарская область)</td>
            <td>0.0003</td>
        </tr>
        <tr>
            <td>109</td>
            <td>Кременчуг</td>
            <td>0.0003</td>
        </tr>
        <tr>
            <td>110</td>
            <td>Химки</td>
            <td>0.0003</td>
        </tr>
        <tr>
            <td>111</td>
            <td>Усть-Каменогорск</td>
            <td>0.0003</td>
        </tr>
        <tr>
            <td>112</td>
            <td>Канада</td>
            <td>0.0003</td>
        </tr>
        <tr>
            <td>113</td>
            <td>Мытищи</td>
            <td>0.0003</td>
        </tr>
        <tr>
            <td>114</td>
            <td>Протвино</td>
            <td>0.0003</td>
        </tr>
        <tr>
            <td>115</td>
            <td>Бийск</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>116</td>
            <td>Северодвинск</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>117</td>
            <td>Муром</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>118</td>
            <td>Батуми</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>119</td>
            <td>Альметьевск</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>120</td>
            <td>Южно-Сахалинск</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>121</td>
            <td>Великие Луки</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>122</td>
            <td>Петропавловск-Камчатский</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>123</td>
            <td>Нижнекамск</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>124</td>
            <td>Пятигорск</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>125</td>
            <td>Новокуйбышевск</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>126</td>
            <td>Рыбинск</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>127</td>
            <td>Комсомольск-на-Амуре</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>128</td>
            <td>Сургут</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>129</td>
            <td>Донецк (Украина)</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>130</td>
            <td>Пушкино (Московская область)</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>131</td>
            <td>Щелково</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>132</td>
            <td>США</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>133</td>
            <td>Арзамас</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>134</td>
            <td>Ивантеевка</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>135</td>
            <td>Петропавловск</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>136</td>
            <td>Германия</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>137</td>
            <td>Подольск (Московская область)</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>138</td>
            <td>Таиланд</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>139</td>
            <td>Красный Яр (Самарская область)</td>
            <td>0.0002</td>
        </tr>
        <tr>
            <td>140</td>
            <td>Одинцово</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>141</td>
            <td>Фрязино</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>142</td>
            <td>Луганск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>143</td>
            <td>Таджикистан</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>144</td>
            <td>Россия</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>145</td>
            <td>Керчь</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>146</td>
            <td>Салават</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>147</td>
            <td>Грозный</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>148</td>
            <td>Нижний Тагил</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>149</td>
            <td>Уссурийск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>150</td>
            <td>Находка</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>151</td>
            <td>Якутск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>152</td>
            <td>Димитровград</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>153</td>
            <td>Махачкала</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>154</td>
            <td>Абакан</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>155</td>
            <td>Волжский (Волгоградская область)</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>156</td>
            <td>Северск (Томская область)</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>157</td>
            <td>Чехия</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>158</td>
            <td>Ессентуки</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>159</td>
            <td>Долгопрудный</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>160</td>
            <td>Назрань</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>161</td>
            <td>Серпухов</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>162</td>
            <td>Нефтеюганск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>163</td>
            <td>Люберцы</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>164</td>
            <td>Жуковский</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>165</td>
            <td>Артем</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>166</td>
            <td>Черкесск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>167</td>
            <td>Ковров</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>168</td>
            <td>Новочебоксарск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>169</td>
            <td>Винница</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>170</td>
            <td>Усть-Кут</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>171</td>
            <td>Житомир</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>172</td>
            <td>Краснослободск (Республика Мордовия)</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>173</td>
            <td>Япония</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>174</td>
            <td>Переславль-Залесский</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>175</td>
            <td>Ангарск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>176</td>
            <td>Энгельс</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>177</td>
            <td>Армавир</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>178</td>
            <td>Братск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>179</td>
            <td>Доминиканская Республика</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>180</td>
            <td>Нальчик</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>181</td>
            <td>Уральск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>182</td>
            <td>Актобе</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>183</td>
            <td>Черногория</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>184</td>
            <td>Виловатово</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>185</td>
            <td>Лисичанск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>186</td>
            <td>Израиль</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>187</td>
            <td>Тобольск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>188</td>
            <td>Кстово</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>189</td>
            <td>Эстония</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>190</td>
            <td>Кировск (Ленинградская область)</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>191</td>
            <td>Экибастуз</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>192</td>
            <td>Индонезия</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>193</td>
            <td>Болохово</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>194</td>
            <td>Щекино</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>195</td>
            <td>Киреевск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>196</td>
            <td>Турция</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>197</td>
            <td>Первомайское (Республика Хакасия)</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>198</td>
            <td>Аксай (Казахстан)</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>199</td>
            <td>Ясногорск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>200</td>
            <td>Советск (Тульская область)</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>201</td>
            <td>Вьетнам</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>202</td>
            <td>Маргилан</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>203</td>
            <td>Ухта</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>204</td>
            <td>Мурино</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>205</td>
            <td>Воронежская область</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>206</td>
            <td>Самарская область</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>207</td>
            <td>Воткинск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>208</td>
            <td>Саров</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>209</td>
            <td>Балаково</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>210</td>
            <td>Электросталь</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>211</td>
            <td>Норильск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>212</td>
            <td>Рубцовск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>213</td>
            <td>Стерлитамак</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>214</td>
            <td>Орск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>215</td>
            <td>Шахты</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>216</td>
            <td>Дзержинск (Нижегородская область)</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>217</td>
            <td>Нижневартовск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>218</td>
            <td>Скопин</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>219</td>
            <td>Новомичуринск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>220</td>
            <td>Полоцк</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>221</td>
            <td>Литва</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>222</td>
            <td>Котлас</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>223</td>
            <td>Новодвинск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>224</td>
            <td>Биробиджан</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>225</td>
            <td>Аксай (Ростовская область)</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>226</td>
            <td>Климовск (Московская область)</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>227</td>
            <td>Чайковский</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>228</td>
            <td>Сарапул</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>229</td>
            <td>Гудермес</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>230</td>
            <td>Березники</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>231</td>
            <td>Домодедово</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>232</td>
            <td>Каменск-Уральский</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>233</td>
            <td>Каспийск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>234</td>
            <td>Дербент</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>235</td>
            <td>Хасавюрт</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>236</td>
            <td>Нефтекамск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>237</td>
            <td>Прокопьевск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>238</td>
            <td>Сызрань</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>239</td>
            <td>Кисловодск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>240</td>
            <td>Красногорск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>241</td>
            <td>Кызылорда</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>242</td>
            <td>Камышин</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>243</td>
            <td>Бердск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>244</td>
            <td>Златоуст</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>245</td>
            <td>Батайск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>246</td>
            <td>Волгодонск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>247</td>
            <td>Миасс</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>248</td>
            <td>Майкоп</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>249</td>
            <td>Коломна</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>250</td>
            <td>Копейск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>251</td>
            <td>Раменское</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>252</td>
            <td>Элиста</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>253</td>
            <td>Ногинск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>254</td>
            <td>Евпатория</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>255</td>
            <td>Ачинск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>256</td>
            <td>Новошахтинск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>257</td>
            <td>Ноябрьск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>258</td>
            <td>Сергиев Посад</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>259</td>
            <td>Орехово-Зуево</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>260</td>
            <td>Елец</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>261</td>
            <td>Железногорск (Курская область)</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>262</td>
            <td>Новый Уренгой</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>263</td>
            <td>Невинномысск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>264</td>
            <td>Октябрьский (Республика Башкортостан)</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>265</td>
            <td>Ханты-Мансийск</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>266</td>
            <td>Реутов</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>267</td>
            <td>Новомосковск (Тульская область)</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>268</td>
            <td>Кызыл</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>269</td>
            <td>Зеленодольск (Республика Татарстан)</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>270</td>
            <td>Дмитров</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>271</td>
            <td>Сосновый Бор (Ленинградская область)</td>
            <td>0.0001</td>
        </tr>
        <tr>
            <td>272</td>
            <td>Оленегорск</td>
            <td>0.0001</td>
        </tr>
    </table>
</div>